<h4>Pipes Example</h4>
<h4>{{name | uppercase}} ---------uppercase pipe</h4>
<h4>{{name | lowercase}} ------------lowercase pipe</h4>
<h4>{{day}}</h4>
<h4>{{day | date}} -------Displaying date</h4>
<h4>{{day | date: 'shortDate'}} --------Displaying short date</h4>
<h4>{{day | date: 'fullDate'}} ---------Displaying full date</h4>
<h4>{{day | date: 'fullDate' |uppercase}} ---------Pipe chaining Displaying capitalized full date</h4>
<h4>Sorting</h4>
<h4>{{arr | sort: 'ascending'}} ---Ascending </h4>
<h4>{{arr | sort: 'descending'}} ---Descending </h4>
